{% extends '@front/layout.html.twig' %}

{% block body %}
<div class="col-xs-12 mt20" id="form-register">
    {{ form_start(form, {'method': 'post', 'action': path('user_register'), 'attr': {'class': 'user_register'}}) }}
    <div class="col-sm-6 col-sm-offset-3 mt10">
        <div class="col-xs-12 t-center"><label>Email :</label></div>
        <div class="col-xs-12 t-center"><label>{{ form_widget(form.email) }}</label></div>
    </div>
    <div class="col-sm-6 col-sm-offset-3 mt10">
        <div class="col-xs-12 t-center"><label>Pseudo :</label></div>
        <div class="col-xs-12 t-center"><label>{{ form_widget(form.username) }}</label></div>
    </div>
    <div class="col-sm-6 col-sm-offset-3 mt10">
        <div class="col-xs-12 t-center"><label>Mot de passe :</label></div>
        <div class="col-xs-12 t-center">{{ form_widget(form.plainPassword.first) }}</div>
    </div>
    <div class="col-sm-6 col-sm-offset-3 mt10">
        <div class="col-xs-12 t-center"><label>Confirmation du mot de passe :</label></div>
        <div class="col-xs-12 t-center">{{ form_widget(form.plainPassword.second) }}</div>
    </div>
    <div class="col-sm-6 col-sm-offset-3 mt20">
        <div class="col-xs-12 t-center">
            <input type="submit" value="S'enregister" />
        </div>
    </div>
</div>
{{ form_end(form) }}

{% endblock %}
